/* ini file css */

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    position: relative;
}

.main-logo{
    height: 50px;
    width: 50px;
    background-image: url(https://picsum.photos/seed/picsum/200/300); 
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

body{
    background: url(assets\background-website.jpg);
}

nav{
    display: flex;
}

nav > a {
    padding: 8px;
    background-color: #ddd;
    border: 1px solid;
    text-decoration: none;
    color: black;
    margin: 4px 2px;
    transition: 0.3s;
}

nav > a:hover{
    background-color: #3e8e41;
    color: white;
}

.banner-autoslide{
    border: 1px solid;
    height: 700px;
}

.our-profile{
    border: 1px solid;
    height: 700px;
}

.achievement{
    border: 1px solid;
    height: 700px;
}

.message-us{
    border: 1px solid;
    height: 700px;
}

.position-txtname-and-txtpesan{
    position: relative;
    left: 53px;
}

.position-bdate{
    position: relative;
    left: 10px;
}

.input-message-us{
    border: 1px solid;
    width: 291px;
    padding: 15px;
    margin-bottom: 10px;
}

.output-message-us{
    border: 1px solid;
    width: 291px;
    padding: 15px;
    margin-bottom: 10px;
}

.main-progress-bar {
    position: fixed;
    bottom: 1px;
    /* top: 63px; */
    /* z-index: 1; */
    width: 100%;
    /* background-color: #f1f1f1; */
  }
  
  .progress-container {
    width: 99%;
    height: 8px;
    background: #ccc;
  }
  
  .progress-bar {
    height: 8px;
    background: #04AA6D;
    width: 0%;
  }